body{
padding: 6px 12px;
border-radius: 8px;
background: #f7e3a7;
}

.see-all{
float: right;

}

.logo{
height: 60px;
width: 60px;
border: radius 50%;
transition: opacity 0.3s;
mix-blend-mode: multiply;
}
.navbar {
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem 3rem;
background: #f7e3a7;
}

.navbar ul {
display: flex;
list-style: none;
gap: 2rem;
}

.navbar a {
text-decoration: none;
color: #111;
font-size: 0.95rem;
}

.nav-links{
border: 1px solid black;
border-radius: 20px;
padding: 5px 25px;
display: flex;
justify-content: space-between;
align-items: center;
box-sizing: content-box;
}

.navbar a.active {
background-color: #ffd4a3;
border: 1px solid #111;
padding: 4px 10px;
box-shadow: 2px 2px 0 #000; 
}

.header-right {
display: flex; 
align-items: center;
gap: 1rem;
position: relative;
left: 25px;
}

.header-right a.active {
background-color: #ffd4a3;
border: 1px solid #111;
padding: 4px 10px;
box-shadow: 2px 2px 0 #000;
}
.my-space {
border: 1px solid #111;
border-radius: 12px;
background: none;
padding: 5px 12px;
cursor: pointer;
}

.lang-select {
border: 1px solid #111;
background: none;
padding: 5px;
}

  /* AUCTION PAGE */
.auctions-section {
padding: 40px;
}
.auctions-section h1 {
font-size: 32px;
margin-bottom: 20px;
}
.auction-grid {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 30px;
}

.card {
padding: 10px;
text-align: center;
border-radius: 6px;
}

.img-box {
height: 220px;
background: #eee;
border: 2px solid #333;
display: flex;
justify-content: center;
align-items: center;
}
.price {
font-weight: bold;
margin-top: 8px;
}


  /*  PAGE */
.exhibition {
padding: 40px;
}
.title-row {
display: flex;
align-items: center;
gap: 20px;
}
.banner {
    height: 300px;
    margin: 20px 0;
    background: #eee;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small .card {
padding: 15px;
}
.details {
    margin-top: 10px;
    padding: 6px 12px;
    border: 1px solid #333;
    border-radius: 6px;
    background: #fff3b0;
    cursor: pointer;
}

  /* FOOTER */
footer {
text-align: center;
padding: 20px;
margin-top: 40px;
}


